h2{
    color: white;
    background: blue;
    border: 5px solid black;
    padding: 0 0 0 0;
    font-weight: bold;
}
h1{
    color: white;
    background: blue;
    border: 5px solid black;
    padding: 0 0 0 0;
    font-weight: bold;
}
